body {
  margin: 0;
  box-sizing: border-box;
}

.clear-fix {
  clear: both;
}

.boxes {}

.row-box {
  height: 220px;
  width: 19%;
  margin-right: 1%;
  float: left;
}

.row-box:last-child {
  margin-right: 0;
}

.box-blue-1 {
  background-color: blue;
  height: 100px;
  width: 40%;
  margin: 5px;
  float: left;
}

.box-blue-2 {
  background-color: red;
  height: 100px;
  width: 40%;
  margin: 5px;
  float: right;
}

.box-blue-3 {
  background-color: blue;
  height: 100px;
  width: 99%;
  margin: 5px;
  clear: both;
}

.box-blue-4 {
  background-color: rgba(17, 244, 180, 0.97);
}

.box-blue-5 {
  background-color: rgb(12, 12, 12);
}

.box-blue-6 {
  background-color: rgb(255, 0, 217);
}

.box-blue-7 {
  background-color: rgb(14, 202, 249);
}

.box-blue-8 {
  background-color: rgb(201, 249, 7);
}

.box-blue-9 {
  background-color: blue;
  height: 600px;
  width: 200px;
  margin: 5px;
  float: left;

}

.box-blue-10 {
  background-color: rgba(233, 18, 57, 0.208);
  height: 200px;
  width: 200px;
  margin: 5px;
  float: left;
}

.box-blue-11 {
  background-color: rgb(54, 227, 11);
  height: 600px;
  width: 200px;
  margin: 5px;
  float: left;
}

.box-blue-12 {
  background-color: rgb(239, 148, 11);
  height: 200px;
  width: 200px;
  margin: 5px;
  float: left;
}
