body {
  margin: 0;
  box-sizing: border-box;
}

.boxes{
  height: ;
}
.box-blue-1 {
  display: block;
  background-color: blue;
  height: 100px;
  width: 40%;
  margin: 5px;
  float: left;
}

.box-blue-2 {
  display: block;
  background-color: red;
  height: 100px;
  width: 40%;
  margin: 5px;
  float: right;
}

.box-blue-3 {
  display: block;
  background-color: blue;
  height: 100px;
  width: 99%;
  margin: 5px;
  clear: both;
}

.box-blue-4 {
  display: block;
  background-color: rgba(17, 244, 180, 0.97);
  height: 220px;
  width: 20%;
  padding: 5px;
  float: left;
}

.box-blue-5 {
  display: block;
  background-color: rgb(12, 12, 12);
  height: 220px;
  width: 20%;
  padding: 5px;
  float: left;
}

.box-blue-6 {
  display: block;
  background-color: rgb(255, 0, 217);
  height: 220px;
  width: 20%;
  padding: 5px;
  float: left;

}

.box-blue-7 {
  display: block;
  background-color: rgb(14, 202, 249);
  height: 220px;
  width: 17%;
  padding: 5px;
  float: left;
}

.box-blue-8 {
  display: block;
  background-color: rgb(201, 249, 7);
  height: 220px;
  width: 17%;
  padding: 5px;
  float: left;
}

.box-blue-9 {
  display: block;
  background-color: blue;
  height: 300px;
  width: 100px;
  margin: 5px;
  float: left;

}

.box-blue-10 {
  display: block;
  background-color: rgba(233, 18, 57, 0.208);
  height: 100px;
  width: 100px;
  margin: 5px;
  float: left;
}

.box-blue-11 {
  display: block;
  background-color: rgb(54, 227, 11);
  height: 300px;
  width: 100px;
  margin: 5px;
  float: left;
}

.box-blue-12 {
  display: block;
  background-color: rgb(239, 148, 11);
  height: 100px;
  width: 100px;
  margin: 5px;
  float: left;
}
